                /* =========== IMPORT FONT STYLE================= */
                
                @font-face {
                    font-family: Gotham;
                    src: url('../Gotham-Font/Gotham-Bold.otf');
                }
                
                @font-face {
                    font-family: Gothaml;
                    src: url('../Gotham-Font/Gotham-Light.otf');
                }
                /* Chổ mô chữu đâm thì gi Gotham,
chữ nhạt thì ghi Gothaml  */
                /* Reponsive */
                
                @media only screen and (max-width: 1000px) {
                    /* nav */
                    .divest_nav {
                        width: 100%;
                        height: 40vh;
                    }
                    .div_nav1 {
                        display: block;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        flex-direction: column;
                        text-align: center;
                    }
                    .divest_header {
                        width: 100%;
                        height: auto;
                    }
                    .div_header1 {
                        width: 100%;
                        height: 1050px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 30px;
                    }
                    .divist_header1_text {
                        width: 100%;
                        height: auto;
                    }
                    .section1_biggestDiv3 {
                        width: 100%;
                        height: 70vh;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                    .divest_underHeader {
                        width: 100%;
                        height: 80vh;
                        margin-top: 90px;
                        margin-left: 140px;
                        display: inline !important;
                        justify-content: center !important;
                        flex-wrap: wrap !important;
                        align-items: center !important;
                    }
                    .div_header1_text1 {
                        width: 2%;
                        height: auto;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin-bottom: 20px;
                    }
                    .div_header1_text2 {
                        width: 30%;
                        height: auto;
                        justify-content: center;
                        flex-wrap: wrap;
                    }
                    .divest_main1 {
                        width: 100%;
                        height: auto;
                    }
                    .div_main1_text1 {
                        width: 5%;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding-bottom: 70px;
                    }
                    .div_main1_text2 {
                        width: 2%;
                        height: auto;
                        flex-wrap: wrap;
                        font-size: 13px;
                        justify-content: center;
                    }
                    .div_main1_text3 {
                        width: 2%;
                        height: auto;
                        justify-content: center;
                        font-size: 12px;
                        font-weight: normal;
                        flex-wrap: wrap;
                    }
                    /* in ra theo chiều dọc  */
                    .div_main1_text4 {
                        width: 80%;
                        height: auto;
                        display: block;
                        flex-wrap: wrap;
                        flex-direction: row-reverse;
                        align-items: center;
                        text-align: center;
                        margin-left: 10px;
                    }
                    .div_main1_content4a1 {
                        width: 80px;
                        height: auto;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                    /*  */
                    .div_main1_text4_a {
                        width: 80%;
                        height: auto;
                        display: block;
                        flex-wrap: wrap;
                        flex-direction: row-reverse;
                        align-items: center;
                        text-align: center;
                        /* margin-left: 10px; */
                    }
                    .div_main1_content4a1 {
                        width: 60px;
                        height: auto;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                    .div_main1_content4a2 {
                        width: 60px;
                        height: auto;
                        justify-content: center;
                        align-items: center;
                        text-align: left;
                    }
                    .div_main1_text4_b {
                        width: 80%;
                        height: auto;
                        display: block;
                        flex-wrap: wrap;
                        flex-direction: row-reverse;
                        align-items: center;
                        text-align: center;
                    }
                    .div_main1_text5 {
                        width: 100%;
                        height: auto;
                        display: block;
                        flex-wrap: wrap;
                        flex-direction: row-reverse;
                        align-items: center;
                        text-align: center;
                    }
                    /* .div_main1_text5 {
                        width: 100%;
                        height: auto;
                    }
                    .div_main1_text5a {
                        width: 40px;
                        height: auto;
                        display: block;
                        flex-wrap: wrap;
                        flex-direction: row-reverse;
                        align-items: center;
                        text-align: center;
                    } */
                }
                /* CSS */
                
                nav {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                
                .div_nav1_text1 {
                    width: 122px;
                    height: 40px;
                    margin-top: 52px;
                    margin-bottom: 49px;
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 37px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                }
                
                .divest_nav {
                    width: 1240px;
                    /* background-color: #65d58d; */
                }
                
                .text_logIn {
                    width: 62.04px;
                    height: 22.14px;
                    margin-top: 58px;
                    margin-right: 25px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                    opacity: 0.6;
                }
                
                .muiTen {
                    height: 50px;
                    margin-right: 25px;
                    margin-top: 40px;
                }
                
                .style_button {
                    width: 76.05px;
                    height: 22.14px;
                    left: 1188.83px;
                    top: 58.26px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                    margin-top: 40px;
                    border-radius: 5px;
                    width: 127.09px;
                    height: 59.43px;
                    background: #13A0FE;
                    border-radius: 5px;
                }
                
                .div_nav1_text2a {
                    width: 129.79px;
                    height: 22.14px;
                    margin-top: 58px;
                    margin-left: 50px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                    opacity: 0.6;
                }
                
                .div_nav1_text2b {
                    width: 86.86px;
                    height: 22.14px;
                    margin-top: 58px;
                    margin-left: 36px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                    opacity: 0.6;
                }
                
                .div_nav1_text2c {
                    width: 45.92px;
                    height: 22.14px;
                    margin-top: 58px;
                    margin-left: 41px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                    opacity: 0.6;
                }
                
                .div_nav1_text2d {
                    width: 45.92px;
                    height: 22.14px;
                    margin-top: 58px;
                    margin-left: 44px;
                    margin-right: 350px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                    opacity: 0.6;
                }
                
                .div_nav1_text2 {
                    display: flex;
                }
                
                .div_nav1_text3 {
                    display: flex;
                }
                
                .div_nav_content {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                
                .div_nav1 {
                    width: 100%;
                    display: flex;
                    /* justify-content: space-between; */
                }
                
                .div_nav_content2 {
                    width: 240px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .div_nav_content1 {
                    width: 122px;
                    height: 40px;
                    left: 99px;
                    top: 52px;
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 37px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                }
                
                header {
                    width: 100%;
                    background: linear-gradient(259.16deg, #13A0FE 0%, #0E9AF7 78.07%, #129EFC 78.07%);
                    /* height: 45px; */
                    display: flex;
                    justify-content: center;
                }
                
                .main1_divest {
                    width: 100%;
                    /* height: 45px; */
                    justify-content: center;
                }
                
                .divest_header {
                    width: 1240px;
                    /* height: 45px; */
                    /* display: flex;
    justify-content: center; */
                }
                
                main {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                
                .sli {
                    width: 50px;
                    height: 0px;
                    background: white;
                    opacity: 0.3;
                }
                
                .div_main1_images {
                    display: flex;
                    margin-left: 401px;
                    margin-top: 5px;
                }
                
                .div_main1_image1 {
                    margin-right: 10px;
                }
                
                .div_main1_text2 {
                    width: 972px;
                    height: 175px;
                    /* margin-top: 2px; */
                    padding-bottom: 10px;
                    margin-left: 134px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 40px;
                    /* background: firebrick; */
                    /* or 143% */
                    text-align: center;
                    color: #161616;
                    opacity: 0.6;
                }
                
                .div_main1_text1 {
                    margin-top: 70px;
                    margin-left: 291px;
                    width: 600px;
                    margin-bottom: 40px;
                    height: 100px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 60px;
                    /* or 125% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #161616;
                }
                
                .divest_main1 {
                    width: 1240px;
                }
                
                .main2 {
                    width: 1240px;
                }
                
                .div_main1_text3 {
                    width: 658px;
                    height: 71px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 60px;
                    /* or 125% */
                    margin-top: 76px;
                    padding-left: 45px;
                    /* background-color: #13A0FE; */
                    display: flex;
                    margin-left: 291px;
                    align-items: center;
                    text-align: center;
                    color: #161616;
                }
                
                .div_main1_text5a1 {
                    width: 345px;
                    height: 436px;
                    left: 170px;
                    top: 3351px;
                    background: #129EFC;
                }
                
                .div_main1_text4a {
                    margin-left: 50px;
                }
                
                .div_main1_text4b {
                    margin-left: 45px;
                }
                
                .div_main1_text5a {
                    width: 1091px;
                    top: 3241px;
                    display: flex;
                    margin-left: 75px;
                    /* background-color: forestgreen; */
                }
                
                .div_main1_text5a2 {
                    width: 345px;
                    margin-left: 28px;
                    top: 3351px;
                    background: #FE808C;
                }
                
                .div_main1_content3 {
                    width: 270px;
                    height: 50px;
                    margin-left: 37px;
                    margin-top: 79px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 38px;
                    /* or 136% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #FFFFFF;
                }
                
                .div_main1_content1_img1 {
                    width: 153px;
                    height: 246px;
                }
                
                .div_main1_content1_img2 {
                    width: 278px;
                    height: 239px;
                    margin-left: 34px;
                    margin-top: 20px;
                }
                
                .div_main1_content1_img3 {
                    width: 301px;
                    height: 220px;
                    margin-left: 22px;
                    margin-top: 55px;
                }
                
                .div_main1_content1 {
                    width: 200px;
                    height: 100px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 38px;
                    /* or 136% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #FFFFFF;
                    margin-left: 58px;
                    margin-top: 79px;
                }
                
                .div_main1_content2 {
                    width: 234px;
                    height: 76px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 38px;
                    margin-left: 55px;
                    margin-top: 79px;
                    /* or 136% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    /* text-decoration-line: underline; */
                    color: #FFFFFF;
                }
                
                .title_main1_text5 {
                    margin-top: 85px;
                    /* background-color: thistle; */
                    width: 162px;
                    height: 60px;
                    margin-left: 539px;
                    margin-bottom: 50px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 60px;
                    /* identical to box height, or 125% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #161616;
                }
                
                .div_main1_text5a3 {
                    width: 345px;
                    height: 436px;
                    margin-left: 28px;
                    background: #65D58D;
                }
                
                .div_main1_text5 {
                    width: 1240px;
                    /* background-color: darkturquoise; */
                }
                
                .div_main1_content4a2 {
                    width: 553px;
                    height: 40px;
                    margin-top: 1px !important;
                    /* background-color: blueviolet; */
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 40px;
                    /* identical to box height, or 143% */
                    color: #161616;
                    opacity: 0.6;
                }
                
                .div_main1_img1 {
                    width: 542px;
                    height: 361px;
                    margin-top: 50px;
                    margin-left: 45px;
                    margin-bottom: 50px;
                    /* left: 748px;
    top: 1723px;
    background: url(.jpg); */
                    border-radius: 10px;
                }
                
                .div_main1_img2 {
                    width: 542px;
                    height: 361px;
                    margin-top: 50px;
                    margin-left: 50px;
                    margin-bottom: 50px;
                    /* left: 748px;
  top: 1723px;
  background: url(.jpg); */
                    border-radius: 10px;
                }
                
                .div_main1_content4a1 {
                    width: 426px;
                    height: 60px;
                    /* background-color: bisque; */
                    margin-top: 176px;
                    margin-bottom: 10px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 60px;
                    /* identical to box height, or 125% */
                    display: flex;
                    align-items: center;
                    color: #161616;
                }
                
                .div_main1_text4 {
                    margin-top: 60px;
                    background: rgba(18, 158, 252, 0.1);
                    display: flex;
                }
                
                .div_main1_text4_a {
                    margin-top: 50px;
                    background: rgba(18, 158, 252, 0.1);
                    display: flex;
                }
                
                .div_main1_text4_b {
                    margin-top: 50px;
                    background: rgba(18, 158, 252, 0.1);
                    display: flex;
                }
                
                .main1_div2 {
                    width: 1240px;
                    background-color: hotpink;
                }
                
                .main1_div3 {
                    width: 1240px;
                    background-color: darkturquoise;
                }
                
                .main1_div4 {
                    width: 1240px;
                    background-color: firebrick;
                }
                
                .underFooter1 {
                    width: 1240px;
                    /* background-color: rosybrown; */
                }
                
                .underFooter {
                    width: 100%;
                    /* background-color: blueviolet; */
                    height: 200px;
                    display: flex;
                    justify-content: center;
                }
                
                footer {
                    margin-top: 137px;
                    width: 100%;
                    background: linear-gradient(259.16deg, #13A0FE 0%, #0E9AF7 78.07%, #129EFC 78.07%);
                    /* height: 45px; */
                    display: flex;
                    justify-content: center;
                    /* margin-bottom: 508px; */
                }
                
                .divest_underHeader {
                    width: 1240px;
                    justify-content: center;
                    display: flex;
                    /* background: rgba(48, 48, 255, 0.2); */
                }
                
                .divest_underFooter {
                    width: 1240px;
                    justify-content: center;
                    /* background: red; */
                }
                
                .divest_underHeader1_image1 {
                    margin-top: 8px;
                    margin-left: 100px;
                    margin-bottom: 54px;
                }
                
                .divest_underHeader1_image2 {
                    margin-top: 8px;
                    margin-left: 97px;
                    margin-bottom: 54px;
                }
                
                .divest_underHeader1_image3 {
                    margin-top: 8px;
                    margin-left: 100px;
                    margin-bottom: 54px;
                }
                
                .divest_underHeader1_image4 {
                    margin-top: 14px;
                    margin-left: 100px;
                    margin-bottom: 47px;
                }
                
                .footer1_text2 {
                    width: 120px;
                    height: 30px;
                    margin-bottom: 10px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    /* identical to box height, or 150% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .footer1_text3 {
                    width: 76px;
                    height: 30px;
                    margin-bottom: 10px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    /* identical to box height, or 150% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .footer1_text4 {
                    width: 46px;
                    height: 30px;
                    margin-bottom: 10px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    /* identical to box height, or 150% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .footer1_text5 {
                    width: 54px;
                    height: 30px;
                    margin-bottom: 40px;
                    /* background: firebrick; */
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    /* identical to box height, or 150% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .footer1_text1 {
                    width: 120px;
                    height: 30px;
                    margin-top: 30px;
                    margin-bottom: 10px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 33px;
                    /* identical to box height, or 150% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .title_footer1 {
                    width: 138px;
                    height: 30px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 30px;
                    margin-bottom: 33px;
                    /* identical to box height, or 125% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .div_underFooter1_text2 {
                    width: 95px;
                    height: 30px;
                    margin-top: 32px;
                    font-family: Gotham;
                    margin-left: 400px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    margin-bottom: 33px;
                    line-height: 30px;
                    /* identical to box height, or 187% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .div_underFooter1_text4 {
                    width: 183px;
                    height: 30px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    margin-top: 32px;
                    font-size: 15px;
                    line-height: 30px;
                    margin-left: 50px;
                    margin-bottom: 33px;
                    /* identical to box height, or 187% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .div_underFooter1_text3 {
                    width: 111px;
                    height: 30px;
                    margin-top: 32px;
                    margin-left: 50px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 30px;
                    /* identical to box height, or 187% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .div_underFooter1_text1 {
                    width: 207px;
                    height: 30px;
                    margin-top: 32px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 30px;
                    /* identical to box height, or 150% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .div_underFooter1 {
                    display: flex;
                    margin-left: 85px;
                }
                
                .divest_footer {
                    display: flex;
                    margin-left: 85px;
                }
                
                .footer1 {
                    width: 1240px;
                    justify-content: center;
                    /* background-color: coral; */
                }
                
                .div_header1 {
                    background: linear-gradient(259.16deg, #13a0fe 0%, #0e9af7 78.07%, #129efc 78.07%);
                    display: flex;
                }
                
                underHeader {
                    width: 100%;
                    background: rgba(48, 48, 255, 0.2);
                    display: flex;
                    justify-content: center;
                }
                
                underFooter {
                    width: 100%;
                    background: #1D2432;
                    display: flex;
                    justify-content: center;
                }
                
                .div_header1_image1 {
                    margin-top: 34px;
                    margin-bottom: 68px;
                    margin-left: 61px;
                }
                
                .divist_header1_text {
                    margin-top: 129px;
                    margin-left: 79px;
                }
                
                .div_header1_text1 {
                    width: 724px;
                    height: 114px;
                    margin-top: -10px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 46px;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                    opacity: 0.9;
                    display: flex;
                }
                
                .div_header1_text3 {
                    display: flex;
                }
                
                .div_header1_text5 li {
                    list-style: none;
                }
                
                .div_header1_text2 {
                    width: 587px;
                    height: 27px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 27px;
                    /* identical to box height */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                /* gvfgffffffffffffffffffffffffffffffffffffffffffff */
                
                .container_fluid {
                    width: 100%;
                    /* width: 100vw; */
                }
                
                .screen {
                    width: 100%;
                }
                
                .footer_display_input {
                    width: 180px;
                    height: 234px;
                    margin-top: 30px;
                }
                
                .footer_display_input {
                    display: flex;
                }
                
                .container {
                    max-width: 1440px;
                    margin: 0 auto;
                }
                
                body {
                    width: 100%;
                }
                
                .section1_biggestDiv1 {
                    /* width: 1440px; */
                    width: 100vw;
                    /* height: 600px; */
                    left: -1px;
                    top: 141px;
                    display: flex;
                    background: linear-gradient(259.16deg, #13a0fe 0%, #0e9af7 78.07%, #129efc 78.07%);
                }
                
                .section2_text1 {
                    width: 558px;
                    height: 137px;
                    margin-left: 481px;
                    margin-top: 60px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 60px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    /* background-color: aqua; */
                    color: #161616;
                }
                
                .div_end_footer {
                    height: 95px;
                    background: #1d2432;
                    display: flex;
                }
                
                .footer_content1 {
                    width: 207px;
                    height: 30px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    /* identical to box height, or 150% */
                    padding-top: 30px;
                    margin-left: 158px;
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }
                
                .footer_content2 {
                    width: 207px;
                    height: 30px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    /* identical to box height, or 150% */
                    padding-top: 30px;
                    margin-left: 758px;
                    /* margin-right: 4000px; */
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }
                
                .footer_content1_text1 {
                    width: 207px;
                    height: 30px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }
                
                .topFeature_Images1 {
                    width: 173px;
                    height: 246px;
                    margin-top: 2px;
                }
                
                .topFeature_Images3 {
                    width: 301px;
                    height: 220px;
                    left: 938px;
                    top: 3558px;
                    margin-bottom: 1px;
                    padding-top: 5px;
                    margin-left: 22px;
                }
                
                .topFeature_Images2 {
                    width: 278px;
                    height: 213px;
                    margin-top: 10px;
                    margin-left: 33px;
                }
                
                .topFeature1_content1_text1 {
                    width: 256px;
                    height: 114px;
                    margin: 76px 44px 0px 45px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 38px;
                    /* or 136% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #ffffff;
                }
                
                .topFeature1_content1_text3 {
                    width: 256px;
                    height: 114px;
                    margin-left: 44px;
                    margin-top: 76px;
                    /* margin: 76px 44px 0px 10px; */
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 38px;
                    /* or 136% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #ffffff;
                }
                
                .topFeature1_content1_text2 {
                    width: 256px;
                    height: 114px;
                    margin-top: 76px;
                    margin-left: 45px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 38px;
                    /* or 136% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #ffffff;
                }
                
                .topFeature1_content1 {
                    width: 345px;
                    height: 436px;
                    left: 170px;
                    top: 3351px;
                    background: #129efc;
                }
                
                .topFeature1_bigger_content123 {
                    display: flex;
                }
                
                .topFeature1_content2 {
                    width: 345px;
                    height: 436px;
                    left: 543px;
                    top: 335px;
                    margin-right: 28px;
                    margin-left: 28px;
                    background: #fe808c;
                }
                
                .topFeature1_content3 {
                    width: 345px;
                    height: 436px;
                    left: 916px;
                    top: 3351px;
                    background: #65d58d;
                }
                
                .topFeature1_text1 {
                    width: 162px;
                    height: 60px;
                    margin-left: 464px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 60px;
                    /* identical to box height, or 125% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #161616;
                }
                
                .footer_ul_li1 {
                    list-style: none;
                    margin-right: 0px;
                }
                
                .style_Footer_TextLi1 {
                    margin-top: 29px;
                }
                
                .style_Footer_TextLi {
                    margin-top: 10px;
                    padding-right: 1px;
                }
                
                .footer_text {
                    width: 138px;
                    height: 30px;
                    margin-top: 1px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 30px;
                    /* identical to box height, or 125% */
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                    margin-top: 5 px;
                }
                
                .footer_text1 {
                    width: 120px;
                    height: 30px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 30px;
                    /* identical to box height, or 150% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                
                .footer_content_download {
                    width: 180px;
                    height: 72px;
                    left: 1102px;
                    top: 4088px;
                    display: flex;
                }
                
                .footer_text2 {
                    width: 120px;
                    height: 30px;
                    margin-top: 10px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 30px;
                    /* identical to box height, or 150% */
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }
                
                .footer_text3 {
                    margin-top: 3px;
                }
                
                .footer_div {
                    padding-top: 1px;
                    /* width: 100%; */
                    height: 412px;
                    margin-top: 137px;
                    background: #13a0fe;
                    display: flex;
                }
                
                .footer_input {
                    width: 190px;
                    height: 50px;
                    left: 656px;
                    top: 4088px;
                    background: #ffffff;
                }
                
                .footer_div3 {
                    width: 316px;
                    height: 50px;
                    margin-left: 150px;
                    margin-top: 103px;
                }
                
                .footer_div4 {
                    width: 316px;
                    height: 50px;
                    left: 656px;
                    /* background-color: darkred; */
                    top: 4088px;
                    margin-left: 130px;
                    margin-top: 103px;
                }
                
                .footer_div1 {
                    width: 138px;
                    height: 250px;
                    color: #ffffff;
                    /* background: darkgreen; */
                    margin-left: 3px;
                    margin-top: 103px;
                }
                
                .footer_div2 {
                    width: 100px;
                    height: 250px;
                    margin-left: 148px;
                    margin-top: 103px;
                }
                
                .topFeature1 {
                    width: 1091px;
                    height: 536px;
                    left: 170px;
                    top: 3241px;
                    margin-left: 406px;
                    margin-right: 175;
                    margin-top: 85px;
                }
                
                .section3_content1a h2 {
                    margin-top: 140px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 40px;
                    /* identical to box height, or 125% */
                    display: flex;
                    align-items: center;
                    color: #161616;
                }
                
                .section3_div2 {
                    margin-top: 50px;
                }
                
                .section3_content1Div {
                    width: 553px;
                    height: 110px;
                    margin-top: 176;
                    margin-left: 50px;
                    margin-left: 50px;
                }
                
                .section3_content1Div2 {
                    width: 553px;
                    height: 110px;
                    margin-top: 176;
                    margin-left: 45px;
                }
                
                .section3_content1a {
                    margin-top: 0px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 60px;
                    /* identical to box height, or 125% */
                    display: flex;
                    align-items: center;
                    color: #161616;
                }
                
                .section3_content1a1 {
                    font-size: 45px;
                    line-height: 60px;
                    margin-left: 50px;
                    margin-top: 138px;
                }
                /* .section3_content1a2 {
  padding-bottom: 500px;
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #161616;
  opacity: 0.6;
  margin-top: 5px;
} */
                
                .section3_content1a2 {
                    margin-top: -30px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 40px;
                    /* identical to box height, or 143% */
                    color: #161616;
                    opacity: 0.6;
                }
                
                .section3_content1 {
                    display: flex;
                }
                /* .section3_container2{

} */
                
                .section3_container1 {
                    /* width: 68%; */
                    margin-left: 100px;
                    margin-right: 100px;
                    margin-top: 20px;
                    width: 1240px;
                    height: 461px;
                    top: 1673px;
                    /* margin-right: 100px; */
                    background: rgba(18, 158, 252, 0.1);
                }
                
                .section_container {
                    width: 1240px;
                    height: 461px;
                    left: 100px;
                    top: 1673px;
                    background: rgba(18, 158, 252, 0.1);
                }
                
                .section2_text2 {
                    width: 870px;
                    margin-top: auto;
                    margin-left: 324px;
                    height: 175px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    text-align: center;
                    color: #161616;
                    opacity: 0.6;
                }
                
                .section1_text1b {
                    list-style: none;
                    color: #ffffff;
                }
                
                .section1_images1 {
                    padding-top: 8px;
                    padding-left: 303px;
                    padding-bottom: 68px;
                }
                
                .section1_images2 {
                    padding-top: 8px;
                    padding-left: 97px;
                    padding-bottom: 68px;
                }
                
                .section1_images3 {
                    padding-top: 14px;
                    padding-left: 97px;
                    padding-bottom: 47px;
                }
                
                .section1_biggestDiv3 {
                    width: 587px;
                    height: 27px;
                    font-family: Gotham;
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                    margin-top: 73px;
                    /* margin-right: 209px;
    margin-left: 79px;
    padding-right: 120px;  */
                }
                
                .section1_biggestDiv4 {
                    width: 100%;
                    height: 178px;
                    left: 0px;
                    top: 741px;
                    display: flex;
                    background: rgba(48, 48, 255, 0.2);
                }
                
                .section1_biggestDiv3a {
                    display: flex;
                    width: 180px;
                    height: 72px;
                    padding-left: 30px;
                    top: 501px;
                    margin-left: 4px;
                    border: 2px solid #ffffff;
                    box-sizing: border-box;
                    border-radius: 5px;
                    align-items: center;
                }
                
                .footer_box {
                    margin-top: 30px;
                    width: 150px;
                    height: 72px;
                    display: flex;
                    border: 2px solid #ffffff;
                    padding-left: 15px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    margin-right: 23px;
                    align-items: center;
                }
                
                .footer_box1 {
                    margin-top: 30px;
                    width: 150px;
                    height: 72px;
                    display: flex;
                    border: 2px solid #ffffff;
                    padding-left: 15px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    margin-right: 23px;
                    align-items: center;
                }
                
                .section1_biggestDiv3b {
                    display: flex;
                    width: 180px;
                    height: 72px;
                    padding-left: 30px;
                    margin-left: 41px;
                    border: 2px solid #ffffff;
                    box-sizing: border-box;
                    border-radius: 5px;
                    align-items: center;
                }
                
                .section1_text2 {
                    width: 587px;
                    height: 27px;
                    left: 507px;
                    top: 423px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 27px;
                    /* identical to box height */
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }
                
                .section1_text1 {
                    width: 690px;
                    height: 93px;
                    margin-top: 129px;
                    margin-right: 209px;
                    margin-left: 79px;
                    padding-right: 120px;
                    /* padding-right: 10px; */
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 46px;
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }
                
                .section1_text2 {
                    width: 690px;
                    height: 43px;
                    margin-top: 39px;
                    margin-right: 209px;
                    margin-left: 79px;
                    padding-right: 120px;
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 27px;
                    /* identical to box height */
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }
                
                .section3_image1b {
                    padding: 50px 50px 50px 45px;
                }
                
                .section3_image1b2 {
                    padding: 50px 0px 50px 50px;
                }
                
                .section1_image1 {
                    padding-top: 34px;
                    padding-left: 165.02px;
                    padding-bottom: 68px;
                    /* padding-right: 79px; */
                }
                
                .header_menu_text1 {
                    margin: 52px 39px 49px -3px;
                    width: 122px;
                    height: 40px;
                    left: 99px;
                    top: 52px;
                    font-family: Roboto Slab;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 37px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                }
                
                .header_menu_biggestDiv {
                    /* width: 1440px; */
                    width: 100vw;
                    /* height: 141px; */
                    /* height: 70vh; */
                    left: -1px;
                    top: 0px;
                    background: #ffffff;
                    justify-content: space-around;
                    display: flex;
                }
                
                .header_menu_text2 {
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                    opacity: 0.6;
                    width: 420px;
                }
                
                .header_menu_text3 {
                    font-family: Gotham;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #161616;
                    opacity: 0.6;
                    text-align: center;
                    padding-left: 50px;
                }
                
                .header_menu_text2a {
                    margin-right: 20px;
                }
                
                .header_menu_text3a {
                    margin-right: 50px;
                }
                
                body {
                    width: 100%;
                }